<!DOCTYPE HTML>

<html ng-app="Viewer">

<head>
    <meta charset="utf-8" />

    <!-- Tab's name -->
    <title>LISA - Choix catalogue</title>

    <!-- #################################### -->
    <!-- ##########  LIBRARIES JS  ########## -->
    <!-- #################################### -->

    <!-- Import angular lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Import bootstrap js -->
    <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Import catalog module -->
    <script type="text/javascript" src="assets/js/Modules/Viewer.module.js"></script>
    <!-- Import catalog choice controller -->
    <script type="text/javascript" src="assets/js/Controllers/CatalogChoice.controller.js"></script>
    <!-- Import connexionSvc service JS -->
    <script type="text/javascript" src="assets/js/Services/Connexion.service.js"></script>
    <!-- Import catalogSvc service JS -->
    <script type="text/javascript" src="assets/js/Services/Catalog.service.js"></script>
    <!-- Import directive myenter -->
    <script type="text/javascript" src="assets/js/Directives/enter.directive.js"></script>


    <!-- ################################## -->
    <!-- ##########  STYLES CSS  ########## -->
    <!-- ################################## -->

    <!-- import bootstrap-->
    <link href="assets/css/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="assets/css/Bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="assets/css/Bootstrap/bootstrap.css" rel="stylesheet" />

    <!-- import Template css-->
    <link href="assets/css/Template.css" rel="stylesheet" />
    <!-- import CatalogChoice css -->
    <link href="assets/css/CatalogChoice/CatalogChoice.css" rel="stylesheet" />
</head>


<!-- Assign catalogChoiceCtrl JavaScript to CatalogChoice Html page -->

<body ng-controller="catalogChoiceCtrl" ng-init="init()">

    <!-- ##########  HEADER  ########## -->
    <div class="container-fluid">
        <div class="header">
            <div class="row justify-content-center">
                <h1 class="h1">
                    LISA - Choix du catalogue
                </h1>
            </div>
        </div>
    </div>

    <!-- ##########  CONTENT  ########## -->
    <div class="container-fluid">
        <div class="contentBorder">
            <div class="contentCatalogChoice">

                <!-- ##########  CATALOG SEARCH  ########## -->
                <div class="row justify-content-center mb-4">
                    <div class="col-md-8">
                        <div class="input-group">

                            <!-- Text before input text -->
                            <label for="searchCatalog" class="input-group-addon" id="basic-addon1">Rechercher un catalogue</label>

                            <!-- Input text to search catalog -->
                            <input type="text" ng-model="searchCatalog" class="form-control" placeholder="Entrez le nom d'un catalogue..." aria-describedby="basic-addon1"
                                id="searchCatalog" />
                        </div>
                    </div>
                </div>

                <!-- ##########  CATALOG CHOICE  ########## -->
                <!-- Add a row every 3 columns -->
                <div class="row justify-content-center mt-4 col-md-8 offset-md-2">

                    <div ng-repeat="catalog in userCatalogs | filter : searchCatalog" class="col-md-4 text-center mb-4">
                        <button type="button" class="btn btn-info btn-block" role="button" ng-click="ChooseCatalog(catalog)">{{catalog.label}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- ################  FOOTER  ################ -->
    <footer class="container-fluid fixed-bottom">
        <div class="footer">
            <div class="row">
                <div class="col-3">
                    <h4>LISA</h4>
                </div>
                <div class="col-3 offset-md-6">
                    <ul>
                        <li>
                            Christopher GOUIN
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>