<!DOCTYPE HTML>

<html ng-app="Viewer">

<head>
    <meta charset="utf-8" />

    <!-- Tab's name -->
    <title>LISA - Affichage catalogue</title>

    <!-- #################################### -->
    <!-- ##########  LIBRARIES JS  ########## -->
    <!-- #################################### -->

    <!-- Import angular lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Import bootstrap js -->
    <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Import Viewer module -->
    <script type="text/javascript" src="assets/js/Modules/Viewer.module.js"></script>
    <!-- Import CatalogChoiceCtrl controller -->
    <script type="text/javascript" src="assets/js/Controllers/CatalogChoice.controller.js"></script>
    <!-- Import CatalogDisplayCtrl controller -->
    <script type="text/javascript" src="assets/js/Controllers/CatalogDisplay.controller.js"></script>
    <!-- Import ConnexionSvc service JS -->
    <script type="text/javascript" src="assets/js/Services/Connexion.service.js"></script>
    <!-- Import CatalogSvc service JS -->
    <script type="text/javascript" src="assets/js/Services/Catalog.service.js"></script>
    <!-- Import MyEnter directive -->
    <script type="text/javascript" src="assets/js/Directives/enter.directive.js"></script>

    <!-- ################################## -->
    <!-- ##########  STYLES CSS  ########## -->
    <!-- ################################## -->

    <!-- import bootstrap-->
    <link href="assets/css/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="assets/css/Bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="assets/css/Bootstrap/bootstrap.css" rel="stylesheet" />

    <!-- import Template css-->
    <link href="assets/css/Template.css" rel="stylesheet" />
    <!-- import CatalogDisplay css -->
    <link href="assets/css/CatalogDisplay/CatalogDisplay.css" rel="stylesheet" />
    <!-- import checkboxAnimation css -->
    <link href="assets/css/checkboxAnimation.css" rel="stylesheet" />
    <!-- import font awesome icon css -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>


<body ng-controller="CatalogDisplayCtrl" ng-init="init()">

    <!-- ##########  HEADER  ########## -->
    <div class="container-fluid">
        <div class="headerCatalogDisplay">
            <div class="row justify-content-center">
                <h1 class="h1">
                    LISA - Affichage du catalogue
                </h1>
            </div>

            <!-- Display catalog label -->
            <div class="row justify-content-center">
                <h2 class="h2">
                    {{catalog.label}}
                </h2>
            </div>
        </div>
    </div>

    <!-- ##########  CONTENT  ########## -->
    <div class="container-fluid">
        <div class="contentBorder">
            <div class="contentCatalogDisplay">
                <div class="row">

                    <!-- ##########  MENU  ########## -->
                    <div class="col-md-3">

                        <!-- ##########  Settings  ########## -->
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="taskMenu">
                                    <!-- Setting card -->
                                    <div class="card">

                                        <!-- Card title -->
                                        <div class="card-header bg-info text-white">
                                            <i class="fas fa-cog mr-3"></i> Affichage
                                        </div>

                                        <!-- Card content -->
                                        <div class="card-body text-white">
                                            <div class="displayMode">
                                                <!-- Checkbox which permit to change display mode -->
                                                <div class="row justify-content-center mt-3">
                                                    <div class="form-check">
                                                        <label>
                                                            <input type="checkbox" name="check" ng-model="isListDisplayed" checked>
                                                            <span class="label-text">Afficher en liste</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ##########  Categories  ########## -->
                        <div class="row justify-content-center mt-3">
                            <div class="col-md-10">
                                <!-- Categories card -->
                                <div class="card border-info">

                                    <!-- Card title -->
                                    <div class="card-header bg-info text-white">
                                        <i class="fa fa-shopping-cart mr-3" aria-hidden="true"></i>Catégories
                                    </div>


                                    <!-- Card body -->
                                    <div class="card-body">
                                        <span ng-if="catalogCategories == undefined">Veuillez patienter ....</span>

                                        <button type="button" class="btn btn-secondary btn-block text-muted wrap mt-0" ng-repeat="category in catalogCategories"
                                            role="button" ng-class="{'btn-success' : currentCategory == category}" ng-click="loadArticlesFromCurrentCategory(category)">
                                            {{category.label}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- ##########  DISPLAY ARTICLES  ########## -->
                    <div class="col-md-8">
                        <div class="card">
                            <!-- Card title for display by Page -->
                            <div class="card-header text-white bg-info">
                                <i class="fas fa-list-ul mr-3"></i> Articles
                                <span ng-if="currentCategory == null">(par pages)</span>
                                <span ng-if="currentCategory != null">(par {{currentCategory.label}})</span>
                            </div>



                            <div class="card-body">
                                <!-- Ngrepeat which display all currentArticles -->
                                <!-- LIST MODE -->
                                <div ng-if="isListDisplayed">

                                    <div class="displayPage" ng-repeat="article in currentArticles | orderBy:'label'">

                                        <!-- Display article in a button, when it has been clicked
                                             it display detail article into a modal which been 
                                             initialized at the bottom of this page -->
                                        <button class="btn btn-secondary text-muted wrap btn-block" role="button" data-toggle="modal" data-target="#articleDetail"
                                            ng-click="defineCurrentArticle(article)">
                                            {{article.label}}
                                        </button>

                                    </div>
                                </div>
                                <div ng-if="!isListDisplayed">

                                    <div class="col-md-4 mt-2 products d-inline-block" data-toggle="modal" data-target="#articleDetail" ng-repeat="article in currentArticles | orderBy:'label'"
                                        ng-click="defineCurrentArticle(article)">
                                        <h6>{{article.label}}</h6>
                                        <img src="{{article.medias[0].link}}" height="100px" width="auto" alt="" />

                                    </div>

                                </div>

                                <!-- If there's no articles display an error -->
                                <div ng-if="currentArticles[0] == undefined">
                                    <div class="alert alert-warning mb-0" role="alert">
                                        Il n'y a pas d'articles sur cette page !
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

                <!-- ##########  DISPLAY PAGING  ########## -->
                <div class="row mt-3" ng-if="currentCategory == null">
                    <div class="offset-3 col-md-8">
                        <div class="row">
                            <!-- Left -->

                            <!-- Call function from controller to display prev page -->
                            <button type="button" role="button" class="btn btn-success col-md-1" ng-click="loadArticlesFromNumPage(currentNumPage - 1)">
                                <i class="fas fa-chevron-circle-left"></i>
                            </button>


                            <!-- Display the current page number -->

                            <h4 class="col-md-2 offset-md-4 text-center">{{currentNumPage}}</h4>


                            <!-- Right -->

                            <!-- Call function from controller to display next page -->
                            <button type="button" role="button" class="btn btn-success col-md-1 offset-md-4" ng-click="loadArticlesFromNumPage(currentNumPage + 1)">
                                <i class="fas fa-chevron-circle-right"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- ################  FOOTER  ################ -->
    <footer class="container-fluid ">
        <div class="footer">
            <div class="row">
                <div class="col-3">
                    <h4>LISA</h4>
                </div>
                <div class="col-3 offset-md-6">
                    <ul>
                        <li>
                            Christopher GOUIN
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>




    <!-- ##########  MODAL  ########## -->
    <div class="modal fade" id="articleDetail">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal header which displayed current article label -->
                <div class="modal-header bg-info">
                    <h5 class="modal-title text-white">{{currentArticle.label}}</h5>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-md-11">

                            <!-- Display description of current article -->
                            <h5>Description :</h5>
                            <p ng-if="currentArticle.description != ''">{{currentArticle.description}}</p>
                            <p ng-if="currentArticle.description == ''">Il n'y a pas de description disponible pour cet article !</p>

                            <!-- Display description of current price -->
                            <h5>Prix :</h5>
                            <p ng-if="currentArticle.prixCatalogs[0].price != undefined">
                                {{currentArticle.prixCatalogs[0].price}} €</p>
                            <p ng-if="currentArticle.prixCatalogs[0].price == null">Il n'y a pas de prix disponible pour cet article !</p>

                            <div class="row justify-content-center">
                                <img class="productsImg" src="{{currentArticle.medias[0].link}}" alt="Pas d'images disponible pour ce produit !">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <!-- Button which close the modal -->
                    <button type="button" class="btn btn-info" role="button" data-dismiss="modal" ng-click="defineCurrentArticle(null)">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>