<!DOCTYPE HTML>

<html ng-app="Viewer">

<head>
    <meta charset="utf-8" />

    <!-- Tab's name -->
    <title>LISA - Affichage catalogue</title>

    <!-- #################################### -->
    <!-- ##########  LIBRARIES JS  ########## -->
    <!-- #################################### -->

    <!-- Import angular lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Import bootstrap js -->
    <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Import Viewer module -->
    <script type="text/javascript" src="assets/js/Modules/Viewer.module.js"></script>
    <!-- Import ViewerConnexionCtrl controller -->
    <script type="text/javascript" src="assets/js/Controllers/ViewerConnexion.controller.js"></script>
    <!-- Import connexionSvc service JS -->
    <script type="text/javascript" src="assets/js/Services/Connexion.service.js"></script>
    <!-- Import directive myenter -->
    <script type="text/javascript" src="assets/js/Directives/enter.directive.js"></script>


    <!-- ################################## -->
    <!-- ##########  STYLES CSS  ########## -->
    <!-- ################################## -->

    <!-- import bootstrap-->
    <link href="assets/css/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="assets/css/Bootstrap/bootstrap-reboot.css" rel="stylesheet" />
    <link href="assets/css/Bootstrap/bootstrap.css" rel="stylesheet" />

    <!-- import Template css-->
    <link href="assets/css/Template.css" rel="stylesheet" />
    <!-- import ViewerConnexion css-->
    <link href="assets/css/ViewerConnexion/ViewerConnexion.css" rel="stylesheet" />
</head>


<body ng-controller="ViewerConnexionCtrl">

    <!-- ##########  HEADER  ########## -->
    <div class="container-fluid">
        <div class="header">
            <div class="row justify-content-center">
                <h1 class="h1">
                    LISA - Connexion
                </h1>
            </div>
        </div>
    </div>


    <!-- ##########  CONTENT  ########## -->
    <div class="container-fluid">
        <div class="contentBorder">
            <div class="contentConnexion">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="input-group">

                            <!-- Text before input -->
                            <span class="input-group-addon" id="basic-addon1 inputGroup-sizing-lg">Token de connexion</span>

                            <!-- Input token to connect to a shop -->
                            <input my-enter="callAPI()" ng-model="token" type="text" class="form-control" placeholder="Entrez votre token de connexion..."
                                aria-describedby="basic-addon1" />

                            <!-- Validation button -->
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success basic-addon2" ng-click="callAPI()">Valider</button>
                            </span>
                        </div>
                    </div>
                </div>

                <!-- If the token is invalid -->
                <div class="row justify-content-center marginIt" ng-if="status != null">
                    <div class="col-md-8 mt-4">
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
                            </span>
                            <span class="sr-only">Error:</span> {{status}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ################  FOOTER  ################ -->
    <footer class="container-fluid fixed-bottom">
        <div class="footer">
            <div class="row">
                <div class="col-3">
                    <h4>LISA</h4>
                </div>
                <div class="col-3 offset-md-6">
                    <ul>
                        <li>
                            Christopher GOUIN
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>