html {
    background-color: #E7EBED;
}

body {
    background-color: #E7EBED;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 80%;
}

.header {
    padding: 1%;
    background-color: #167198;
    text-align: center;
    border-radius: 3px;
    color: white;
    border: 3px outset #4696ae;
    border-top: none;
    border-bottom-width: 5px;
}

.footer {
    background-color: #167198;
    text-align: center;
    border-radius: 3px;
    padding: 1%;
    color: white;
    border: 3px inset #4696ae;
    border-bottom: none;
    border-top-width: 5px;
}

.contentBorder {
    border: 1px solid #3985A7;    
    background-color: white;
}