.contentCatalogDisplay {
    margin-top: 3%;
    margin-bottom: 8%;

}

.headerCatalogDisplay {
    background-color: #167198;
    text-align: center;
    border-radius: 3px;
    color: white;
    border: 3px outset #4696ae;
    border-top: none;
    border-bottom-width: 5px;
}

.wrap {
    white-space: normal;
}

.productsImg{
    height: 200px;
    width: auto;
}

.products{
     
     top : 0px;
     text-align : center;
    vertical-align: top;
     height: 13em;
}

.products:hover {
    box-shadow: 1px 1px 25px #000;
    transition-duration: 0.3s;
}